.wrapper {
  background: url(./assets/annie-spratt-yI3weKNBRTc-unsplash.jpg) no-repeat
    center;
  background-size: cover;
}
/* phone layout */
.phone {
  background: linear-gradient(rgb(84, 77, 77), black);
  background-size: cover;
  overflow-y: scroll;
}
.phone::-webkit-scrollbar {
  display: none;
}
.slider {
  width: 100%;
  appearance: none;
  opacity: 0.7;
}
.slider:hover {
  opacity: 1;
  transition: opacity 0.2s;
}
.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: red;
}
#label {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  pointer-events: none;
  animation: slideAnimation 3s ease-in-out infinite;
}

@keyframes slideAnimation {
  0%,
  100% {
    color: black;
    filter: drop-shadow(0 0 10px purple);
  }

  50% {
    color: purple;
    filter: drop-shadow(0 0 10px purple);
  }
}
.header i {
  right: 15px;
}
a {
  text-decoration: none;
  color: inherit;
}
